<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
    <script>
        const sessionTimeout = {{ session_timeout_ms | safe }};
        setTimeout(() => {
            alert("Your session has expired. You will be logged out.");
            window.location.href = "{{ url_for('logout') }}";
        }, sessionTimeout);
    </script>
</head>

<body>
    <div class="background-pattern"></div>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
        <button class="logout-btn" onclick="window.location.href='{{ url_for('logout') }}'">
            <span>Logout</span>
        </button>

    </header>

    <main>
        <div class="greeting">
            <h1>{{ greeting_word }}, {{ user_id }}!</h1>
            <p>That's how you say hello in {{ greeting_language }}.</p>
        </div>
        <div class="data-box">
            Data will be displayed here.
        </div>
    </main>

    <footer>
        <img src="{{ url_for('static', filename='images/motto.jpg') }}" alt="Motto">
    </footer>
</body>

</html>